@import '../../components/chart/style.css';
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  height: 100vh;
  overflow: auto;
}

.card {
  margin: 1.25rem;
  height: fit-content;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
}
